{% extends "base.html" %}{% load static %}
{% block sb_admin_custom_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
{% endblock sb_admin_custom_css %}
{% block sb_admin_title %}Compliance Check{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small></small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="index.html">Compliance Check Details</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ score }} / {{ total }}</div>
                        <div>Compliance Score!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
	
	
</div>
<!-- /.row -->

<!--div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
</div-->
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
		{% for result, values in results.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>{{ result }}</h3>
			</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped display nowrap">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Remediation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
							{% for elmnt in values %}
							<tr>							
								<td> 
									{{ elmnt.description }}
								</td>
								<td>
									{{ elmnt.status }}
                                </td>
								<td>
									{{ elmnt.Remediation }}
								</td>
                                <td></td>
							</tr>
							{% endfor %}
							

                        </tbody>
                    </table>
                </div>
                <!--div class="text-right">
                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
            </div>
        </div>
		{% endfor %}
    </div> 
</div>
<!-- /.row -->
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src=" https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js "></script>
<script>

    $(document).ready(function () {
        $('table').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: -1
                }
            },
            columnDefs: [ {
                className: 'control',
                orderable: false,
                targets:   -1
            } ],
            columns: [
                null,
                null,
                {
                    'render': function (data, type, row) {
                        return data.split('\n').join('<br />')
                    }
                },
                null
            ]
        });
    });

</script>
{% endblock sb_admin_custom_js %}