{% extends "base.html" %}{% load static %}
{% block sb_admin_custom_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<style>
.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
}
.huge {
    font-size: 20px;
}
</style>
{% endblock sb_admin_custom_css %}
{% block sb_admin_title %}Image Vulnerability Scan {% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small> for {{ image_name}}</small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}<li class="active">
      <i class="fa fa-file""></i> Image Vulnerability Scan
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bug fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='total-vulnerabilities'>Loading...</div>
                        <div>Total Vulnerabilities</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-folder-open fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='total-packages'>Loading...</div>
                        <div>Total Packages</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-times fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='cvss-critical'>Loading...</div>
                        <div>Critical</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='cvss-high'>Loading...</div>
                        <div>High</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-minus fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='cvss-moderate'>Loading...</div>
                        <div>Moderate</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id='cvss-low'>Loading...</div>
                        <div>Low</div>
                    </div> 
                </div>
            </div>
        </div> 
    </div>    
</div>        
    
<div class="row">
    <div class="col-lg-12">
        <h2>Vulnerable Images</h2>
        <span id='image-id' class='hide'>{{ img_id }}</span>
        <span id='image-name' class='hide'>{{ img_name }}</span>
        <div class="table-responsive">
            <table class="table table-hover table-striped" id='vul-image'>
                <thead>
                    <tr>
                        <th>PACKAGE NAME</th>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>CVSS SCORE</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>PACKAGE NAME</th>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>CVSS SCORE</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
  


{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>

    $(document).ready(function () {

        var imageID = $('#image-id').text();
        var imageName = $('#image-name').text();
        var lowVul = 0;
        var moderateVul = 0;
        var highVul = 0;
        var criticalVul = 0;

        var vulImageDataTable = $('#vul-image').DataTable({
            ajax: {
                url: '../../../images/' + imageID,
                dataSrc: function (data) {
                    $('#total-vulnerabilities').text(data[0]['data'].length);
                    $('#total-packages').text(data[0]['total_packages']);
                    return data[0]['data'];
                },
		async: false
            },
            columns: [
                { 'data': 'package_name' },
                { 'data': 'id' },
                { 'data': 'title' },
                {
                    'data': 'cvss_score',
                },
            ],
            createdRow: function (row, data, index) {
                var className = '';
                if (0 <= data.cvss_score && data.cvss_score <= 2) {
                    className = 'info';
                } else if (3 <= data.cvss_score && data.cvss_score <= 5) {
                    className = 'warning';
                } else if (6 <= data.cvss_score && data.cvss_score <= 8) {
                    className = 'success';
                } else {
                    className = 'danger';
                }
                $(row).addClass(className);
            }
        });

	    vulImageDataTable.rows().every(function (rowIndex, tableLoop, rowLoop) {
            var data = this.data();
            var cvssScore = data.cvss_score;
            if (0 <= cvssScore && cvssScore <= 2) {
                lowVul++;
            } else if (2 < cvssScore && cvssScore <= 5) {
                moderateVul++;
            } else if (5 < cvssScore && cvssScore <= 8) {
                highVul++;
            } else if (8 < cvssScore) {
                criticalVul++;
            }
            $('#cvss-low').text(lowVul);
            $('#cvss-moderate').text(moderateVul);
            $('#cvss-high').text(highVul);
            $('#cvss-critical').text(criticalVul);
        });

    });

</script>
{% endblock sb_admin_custom_js %}

